<h1>Weather Dashboard</h1>

<h3>Rides by Temperature</h3>
<table>
  <tr>
    <th>Temperature Range</th>
    <th>Highest Number of Rides</th>
    <th>Lowest Number of Rides</th>
    <th>Average Rides</th>
  </tr>
  <% @temp_ranges.each do |range| %>
    <tr>
      <td><%= range %>째F</td>
      <td><%= @conditions.most_rides_by_temp(range) %>째F</td>
      <td><%= @conditions.least_rides_by_temp(range) %>째F</td>
      <td><%= @conditions.average_rides_by_temp(range) %>째F</td>
    </tr>
  <% end %>
</table>

Precipitation Range
Wind Speed Range
Visibility Range
