<section class='title'>
  <h1>Stations Dashboard</h1>
</section>

<section class='title'>
  <h3>Total Number of Stations: <%= @num_stations %></h3>
</section>

<section class='title'>
  <h3>Average number of bikes: <%= @avg_bikes %></h3>
</section>

<section class='title'>
  <h3>Maximum bikes available: <%= @max_bikes %></h3>
</section>
