$black: #2E3532;
$red: #8B2635;
$light-gray: #E0E2DB;
$dark-gray: #666;
$green: #D3EFBD;

nav {
  position: relative;
  background: #FFF;
  width: 100%;

  height: 50px;
  ul {
    list-style: none;

    * {
      display: inline-block;
    }

    &.nav-left, &.nav-right {
      position: absolute;
      top:50%;
      transform:translateY(-50%);
      width: initial;

      a {
        color: $dark-gray;
      }
    }

    &.nav-left {
      left: 1em;
    }

    &.nav-right {
      right: 1em;
    }
  }
}
