$black: #2E3532;
$red: #8B2635;
$light-gray: #E0E2DB;
$dark-gray: #666;
$green: #D3EFBD;

nav {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $dark-gray;
    color: #FFFFFF;
    align-items: center;
    padding-top:5px;
    padding-left: 100px;
    padding-right: 100px;

    a {
      color: #FFFFFF;
      text-decoration: none;
      text-transform: uppercase;
    }
    a:hover {
      color: $green;
    }
  ul {
    list-style: none;

    * {
      display: inline-block;
    }


    .brand-logo {
      font-size: 30px;
      letter-spacing: 5px;
    }
  }
  .fa-bicycle {
    color: $green;
  }

  .nav-right {
    display: flex;
    flex-direction: row;

    .nav-link {
      margin: 10px;
    }
  }
}
