<nav>
  <ul class="nav-left">
    <div class="brand-logo">
      <i class="fas fa-bicycle"></i>
      <a href="#">Bike Share</a>
    </div>
  </ul>

  <ul class="nav-right">
    <li>
      <a href="#">About</a>
    </li>
  </ul>
</nav>
