<nav>
  <ul class="nav-left">
    <div class="brand-logo">
      <a href="#">B i k e  S h a r e</a>
    </div>
  </ul>

  <ul class="nav-right">
    <li>
      <a href="#">About</a>
    </li>
  </ul>
</nav>
