<h1>Welcome <%= current_user.username %></h1>


<ul class="orders">
  <% current_user.orders.each do |order| %>
    <li id="order_<%= order.id %>">
      <p>Order <%= order.id %></p>
    </li>
  <% end %>
</ul>
