@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import 'helpers/nav';

$black: #2E3532;
$red: #8B2635;
$light-gray: #E0E2DB;
$dark-gray: #666;
$green: #D3EFBD;

html {
  height: 100%;
  box-sizing: border-box;
}

.admin {
  text-align: center;
}

.flash {
  background-color: $dark-gray;
  color: #FFFFFF;
  text-align: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Montserrat';
  color: $dark-gray;
  background: $light-gray;
  margin: 0;
  padding-bottom: 30px;
}

.main-body {
  padding-left: 100px;
  padding-right: 100px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: $red;
  text-transform: uppercase;
  margin-bottom: 0px;
  font-size: 28px;
}

h3 {
  margin-bottom: 0px;
}

.title {
  display: flex;
  justify-content: center;
}

table {
  display: flex;
  font-size: 14px;
  justify-content: center;
  border-collapse: collapse;
  th {
    height: 75px;
  }
  th, td {
    border: 1px solid $black;
    padding: 5px;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-left: 40%;
  padding-top: 50px;
  padding-bottom: 10px;
}

.create-account {
  margin-top: 45px;
  font-size: 18px;
  color: $red;
  display: flex;
  justify-content: center;
}

.bike {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.login {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 140px;
  text-transform: uppercase;
  color: $light-gray;
  text-decoration: none;
}

.all_cards {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 14px 14px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #d7d8d2;
  width: 12%;
  margin-bottom: 30px;
  margin-right: 30px;
  align-items: center;
  justify-content: center;
  padding:20px;
  box-shadow: 6px 5px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.19);

  .image {
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
  }

  p {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.cart-pic {
  height: 150px;
  width: 150px;
}

.remove-link {
  color: $red;
}

.cart-button {
  padding-bottom: 45px;
}

.no-border {
  border: 0;
}
