@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import 'helpers/nav';

$black: #2E3532;
$red: #8B2635;
$light-gray: #E0E2DB;
$dark-gray: #666;
$green: #D3EFBD;

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: 'Montserrat';
  color: $dark-gray;
  margin: 0;
}

h1 {
  color: $red;
  text-transform: uppercase;
  font-size: 28px;
}
.title {
  display: flex;
  justify-content: center;
}

table {
  display: flex;
  justify-content: center;
  border-collapse: collapse;
  th, td {
    border: 1px solid $black;
    padding: 5px;
  }
}
