@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import 'helpers/nav';

$black: #2E3532;
$red: #8B2635;
$light-gray: #E0E2DB;
$dark-gray: #666;
$green: #D3EFBD;

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: 'Montserrat';
  color: $dark-gray;
  background: $light-gray;
  margin: 0;
}

h1 {
  color: $red;
  text-transform: uppercase;
  font-size: 28px;
}
.title {
  display: flex;
  justify-content: center;
}

table {
  display: flex;
  justify-content: center;
  border-collapse: collapse;
  th, td {
    border: 1px solid $black;
    padding: 5px;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 10px;
    .form_field {
      padding: 10px;
    }
}

.create-account {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.bike {
  width: 100%;
  height: 100%;
}

.login {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 140px;
  text-transform: uppercase;
  color: $light-gray;
  text-decoration: none;
}
